.footer-wrap {

    .footer {
        background-color: #80c19f;
        position: relative;
        overflow-x: hidden;


        .content {
            display: flex;
            flex-direction: column;
            padding: 25px;
            color: #ffff;

            @include md {
                flex-direction: row;
            }

            @include xl {
                padding: 75px;
            }

        }

        .item {

            flex: 1;

            .logo {
                width: 100px;
                height: 100px;
                position: relative;

            }

            .socials {

                display: flex;
                width: fit-content;
                @include md {
                    margin-left: 45px;
                }

                a {
                    height: 25px;
                }

                .icon {
                    position: relative;
                    background-color: #ffff;
                    padding: 10px;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: unset;
                    }
                }
            }

            .button {
                border: 1px solid #ffff;
            }

            .phonenumber {
                font-weight: 600;
            }

        }

        .cirkels_footer {
            position: absolute;
            right: -100px;
            bottom: 0;

            .cirkel {
                opacity: 1;
            }

        }

    }

    .footer-bar {

        background-color: #3c3c3c;
        color: #9d9d9d;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-size: 0.75rem;
        @include md {
            flex-direction: row;
            font-size: 1rem;
        }


        .paragraph > p {
            margin: 0;
            font-size: 1rem;
        }

        .policys {
            display: flex;
            font-weight: 700;

            .policy {
                padding-right: 15px;
                a {
                    color: #9d9d9d;
                    text-decoration: none;
                }
            }

        }

    }
}
