.blog-carousel {
    .textblock {
        padding: 0 50px;
        display: flex;
        justify-content: center;
        .content {
            width: 50%;
            text-align: center;
        }
    }
}