.breadcrumbs {

    display: flex;
    align-items: center;
    margin-bottom: 60px;

    .icon {
        background: $base-green;
        transform: rotate(180deg);
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        display: flex;

        &.breadcrumb_icon {
            cursor: pointer;
        }

    }

    .list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0 0 0 20px;
        font-size: 1rem;

        li {

            display: flex;
            color: #b8b8b8;
            .slash {
                padding: 0 5px;
            }

            a {
                text-decoration: none;
                text-transform: capitalize;
                color: #b8b8b8;
                display: flex;
                flex-direction: row;
            }
            &.home {
                a {
                    color: $base-green;
                }
            }

            &:last-child .slash {
                display: none;
            }

        }

    }
}
