.newbanner {
  position: relative;

  .background-banner {
    position: relative;
    height: 400px;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base-white;

    .title {
      margin-bottom: 2rem;
    }

    .items {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 2.5rem;
      padding: 0 1rem;
      margin-top: 50px;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        text-align: center;
        margin-bottom: 25px;

        .icon {
          margin-bottom: 25px;
          width: 100px;
          height: 50px;
          position: relative;
          @include md {
            width: 150px;
          }
        }

        .text {
          font-size: 1rem;
          font-family: 'Merriweather', sans-serif;
          font-weight: 700;
        }
      }
    }
  }
}

.newbanner-title {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 2.5625rem;
  top: 4rem;

  &.areas {
    top: 3rem;
  }
}

.newbanner-title-second {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 2.5625rem;
  top: 13rem;
}

.newbanner2 {
  position: relative;

  .background-banner {
    position: relative;
    height: 400px;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base-white;

    .title {
      margin-bottom: 2rem;
    }

    .items {
      display: block;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 2.5rem;
      padding: 0 1rem;
      margin-top: 50px;

      .item {
        display: block;
        float: left;
        align-items: center;

        .icon {
          margin-bottom: 25px;
          width: 100px;
          height: 50px;
          position: relative;
          @include md {
            width: 150px;
          }
        }

        .text {
          font-size: 1rem;
          font-family: 'Merriweather', sans-serif;
          font-weight: 700;
        }
      }

      .item:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        text-align: center;
        float: none;
        margin-bottom: 65px;
      }
    }
  }
}
