.speakers {
    display: flex;
    flex-direction: row;

    .speaker {
        position: relative;
        height: 500px;
        width: 300px;
        margin-right: 15px;

        .speaker-image {
            height: 100%;
            width: 100%;
        }

    }
}