.training-block {

    margin-bottom: 100px;

    .trainings {

        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        flex-wrap: wrap;
        @include md {
            flex-direction: row;
            gap: 10px;
        }

        .training {
            position: relative;
            margin-bottom: 15px;
            width: 100%;

            @include md {
                width: 49%;
            }

            @include lg {
                flex: 1;
                width: unset;
            }

            &:last-child {
                margin-right: unset;
            }

            .paragraph {

                @include md {
                    padding-right: 30px;
                    margin-bottom: 75px;
                }
            }

            .redirect-link {
                @include md {
                    position: absolute;
                    bottom: 0;
                }
            }
            
        }
    }


}

.blog-posts {
    .trainings {
        width: fit-content;
        .training {
            max-width: 250px;
        }   
    }
}