.chatandbanner-wrap {
  .media-wrap {
    @include md {
      min-width: 300px;
      max-width: 300px;
    }
  }

  margin-bottom: 50px;

  .chatandbanner-block {
    display: flex;
    flex-direction: column;

    @include lg {
      justify-content: space-between;
      flex-direction: row;
    }

    .textblock {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;

      @include md {
        margin-bottom: unset;
        padding: 0 25px 0 0;
      }

      .content {
        margin-top: 100px;

        @include md {
          margin-top: 75px;
        }
      }
    }

    .newbanner {
      overflow: hidden;
      height: 250px;
      width: 100%;
      z-index: 1;
      &.video {
        @include md {
          height: 536px;
          width: 350px;
        }

        @include lg {
          width: 530px;
        }
      }

      @include md {
        width: 350px;
        height: 690px;
      }

      @include lg {
        width: 400px;
      }

      @include xl {
        width: 530px;
      }

      img {
        object-fit: cover;
        object-position: center !important;
      }
    }
  }
}
