.contact-us .chatandbanner-wrap {
  margin-bottom: unset;
}

.contact-us .chatandbanner-block {
  justify-content: unset;

  .contact-wrap {
    flex: 1;
  }

  .textblock {
    justify-content: flex-start;
  }

  @include lg {
    .media-wrap {
      height: 100vh;
    }

    .newbanner {
      width: 700px;
      position: absolute;
      right: 0;
    }
  }
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include md {
    width: 75%;
  }

  .input-field {
    border: 1px solid rgb(206 196 196 / 50%);
    padding: 15px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-family: $mainfont;
  }
}

.map {
  overflow: hidden;

  @include md {
    height: 100vh !important;
  }

  iframe {
    width: 100%;
    height: inherit;
    border: unset;
  }
}
