.our-interests-wrap {
  font-family: $mainfont;

  .title {
    margin-bottom: 20px;

    h3 {
      margin: 0;
    }
  }

  .our-interest-block {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    .left {
      flex: 2;
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .our-books {
      background-color: $base-gray;
      padding: 15px;

      @include md {
        margin-right: 50px;
      }

      .booklist {
        display: flex;
        flex-direction: column;

        .book {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          flex-direction: column;

          @include md {
            flex-direction: row;
          }

          .book-image {
            margin: 0 0 25px 0;
            width: 100%;
            height: 200px;
            position: relative;

            @include md {
              margin: 0 25px 0 0;
              width: 175px;
            }
          }

          .content {
            padding: 15px;
            width: 100%;
            @include md {
              width: fit-content;
            }
          }
        }
      }
    }
  }

  .our-music {
    background-color: $base-gray;
    padding: 15px;
    margin-bottom: 25px;
    flex: 1;
  }

  .our-links {
    background-color: $base-gray;
    padding: 15px;
    flex: 1;

    .link {
      margin-bottom: 10px;

      .button {
        width: auto;
        justify-content: space-between;
      }
    }
  }
}

.link-para {
  // height: 50px;
  margin-top: -50px;
}

.blog-link {
  text-decoration: underline;
  color: #3c3c3c;
}
