.legal-documents {
    .list {
        list-style: none;
        color: rgba(0, 0, 0, 0.7);
        opacity: 0.7;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: normal;
    }
}