.this-us {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    justify-content: center;
  }

  .member {
    position: relative;
    margin-bottom: 25px;
    @include md {
      width: 300px;
      margin-right: 15px;
    }

    .content {
      .paragraph {
        @include md {
          margin-bottom: 75px;
        }
      }
    }

    .redirect-link {
      @include md {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
