.reviews-wrap {
    .reviews {

        width: 100%;
        overflow: scroll;

        .carousel {
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .review {
            border: 1px solid $base-green;
            padding: 25px;
            flex: 1;
            min-width: 700px;
            margin-right: 15px;

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .title {
                    color: $base-green;
                    font-family: $secondaryfont;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.8;
                    letter-spacing: -1.68px;
                }

                .data {
                    font-size: 16.5px;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 3.06;
                        letter-spacing: -0.99px;
                        text-align: right;
                        color: #b8b8b8;
                }

            }
        }
    }
}