.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba($color: $base-dark, $alpha: 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: $base-white;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;

  &__formcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__inputcontainer,
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__input {
    border: 1px solid rgba(206, 196, 196, 0.9);
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Open-sans', sans-serif;
    transition: all 0.3s;

    &:focus {
      border: 1px solid rgba($color: #000000, $alpha: 0.9);
      outline: none;
    }
  }

  &__submit {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #80c19f;
    display: flex;
    padding: 14px 22px;
    align-items: center;
    flex-direction: row;
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
    color: #ffff;
    font-weight: 900;
    text-decoration: none;
    transition: 1s infinite;
    cursor: pointer;

    &-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover &-icon {
      animation-name: slide;
      animation-duration: 0.8s;
    }
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s;
  transform-origin: center;

  &:hover {
    transform: rotate(90deg) scale(0.9);
  }
}

.close-icon {
  font-size: 1.6rem;
}

@keyframes slide {
  0% {
    left: 0px;
  }
  50% {
    left: 8px;
  }
  100% {
    left: 0px;
  }
}
