.hero-wrap {
  overflow: hidden;

  .hero-item {
    position: relative;
    @include xl {
      height: 800px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    .hero-image {
      width: 100%;
    }

    .textblock {
      @include xl {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
      }
      .content {
        .title {
          h1 {
            @include md {
              //    font-size: 2.56rem;
              font-size: 2rem;
            }
          }
        }

        padding: 0 25px;

        @include xl {
          width: 40%;
          height: 450px;
          padding: 0px 75px;
          background: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
