.hamburger-icon {
  padding: 5px;
  background: #80c19f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.navigation-wrap {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  background: $base-white;
  overflow: hidden;
  height: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &.open {
    height: 75%;
  }

  .navigation-content {
    .navigation-items {
      display: flex;
      flex-direction: column;

      .navigation-item {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
          position: relative;
          padding: 5px;
          background: $base-green;
          display: none;
          justify-content: center;
          align-items: center;
        }

        &.active {
          div {
            color: $base-green;
            margin-right: 25px;
          }

          .icon {
            display: flex;
          }
        }

        &:hover {
          div {
            color: $base-green;
            margin-right: 25px;
          }
        }
      }

      div {
        color: black;
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
}
