.mc {
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__label-conditions {
    margin: 1rem 0;
    cursor: pointer;
  }

  &__input-conditions {
    cursor: pointer;
    margin-right: 1rem;
  }
}
