.events-block {

    .content {



        .events {

            display: flex;
            flex-direction: column;
            gap: 10px;
            @include xl {
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .event {
                position: relative;
                height: 250px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                @include xl {
                    height: 340px;
                    width: 49%;
                }

                .text-block {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 25px;
                    color: $base-white;
                    @include md {
                        padding: 50px;
                    }


                }    
            }

        }
        
    }

    .all-events {
        padding: 2rem 0 0 0;
    }

}