.button {
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  width: fit-content;
  background: $base-green;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: row;
  font-family: 'Merriweather', sans-serif;
  color: $base-white;
  font-weight: 900;
  text-decoration: none;

  @include lg {
    padding: 10px 25px;
  }

  &.nofill {
    background: transparent;
    border: 1px solid $base-green;
    color: $base-green;
  }
  transition: 1s infinite;

  .text {
    font-size: 1.125rem;
    margin-right: 25px;
  }

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button:hover {
  cursor: pointer;
}

.button:hover .icon {
  animation-name: slide;
  animation-duration: 0.8s;
}

@keyframes slide {
  0% {
    left: 0px;
  }
  50% {
    left: 8px;
  }
  100% {
    left: 0px;
  }
}

.no-border {
  border: none;
}
