.header-wrap {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  left: 0;
  height: 80px;

  &.white {
    background-color: #ffff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
}

.logo {
  cursor: pointer;
}

.header-inner {
  align-items: center;

  .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .right-side {
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 170px;
  height: 104px;
  position: relative;
  z-index: 2;
  &.colored {
    width: 100px;
    height: 50px;
    margin-top: unset;
    margin-left: unset;
  }

  &.white {
    margin-top: 75px;
  }
}

.language-wrap {
  cursor: pointer;
  z-index: 2;
  margin-right: 30px;
  position: relative;
  display: flex;
  font-weight: bold;
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.61;
  letter-spacing: -0.84px;
  color: #ffffff;
  &.dark {
    color: $base-dark;
  }

  .lang-list {
    list-style: none;
    background: #80c19f;
    margin: 0;
    padding: 10px;
    position: absolute;
    margin-top: 36px;
    right: 2px;
  }

  .cur-lang {
    margin-right: 5px;
    text-transform: uppercase;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
