
.carousel-wrap {
    overflow: hidden;
}
.carousel{

    display: flex;
    justify-content: center;

    .items {

        display: flex;
        margin-top: 15px;
        overflow: scroll;
        width: 100%;
        .item {

                    position: relative;
                    @include md {
                        height: 370px;
                        min-width: 360px;
                    }

                img {
                    filter: brightness(0.6);
                }
                    
                .content {
                    position: absolute;
                    bottom: 0;
                    padding: 25px;
                    color: $base-white;
                    @include md {
                        padding: 30px 42px;
                    }

                .title {
                    text-transform: capitalize;
                    @include md {
                        font-size: 2.75rem;
                    }
                }   
            }
        }
    }

}