/* ANCHOR */
a {
  color: unset;
  text-decoration: none;
}

/* Fonts */

.title {
  color: $base-dark;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -2.49px;

  &.for-whom-title h3 {
    margin-top: -20px !important;
    margin-bottom: -10px !important;
  }

  &.for-whom-author h3 {
    margin-bottom: -10px !important;
  }

  &.light {
    color: #ffffff;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: 300;
    font-family: "Merriweather", sans-serif;
    letter-spacing: 0.1rem;
    letter-spacing: 1px;
  }

  @include md {
  }

  @include lg {
    h1,
    h2 {
      font-size: 2.75rem;
    }
  }

  @include xl {
    h1,
    h2 {
      font-size: 2.5625rem;
      margin-right: 10px;
    }
  }
}

.paragraph {
  font-size: 1rem;
  opacity: 0.7;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);

  &.preface {
    color: $base-dark;
    font-family: $secondaryfont;
    opacity: 1;
    font-size: 1.375rem;
    line-height: 1.63;
    font-weight: normal;
    margin-right: 50px;

    &.normal-font {
      font-family: $mainfont;
      font-size: 1rem;
    }
  }

  &.light {
    color: #ffff;
  }
}

/* Margin */

.mg-top-100 {
  margin-top: $big-margin;
}

.mg-bot-100 {
  margin-bottom: $big-margin;
}

.mg-bot-50 {
  margin-bottom: $normal-margin;
  position: relative;
}

.mg-top-50 {
  margin-top: $normal-margin;
}

.mg-bot-25 {
  margin-bottom: $small-margin;
  position: relative;
}

.mg-top-25 {
  margin-top: $small-margin;
}

/* Width */

.width-75-precent {
  width: 75% !important;
}

/* Padding */

.padding-right-150 {
  @include md {
    padding-right: 150px;
  }
}

/* Redirect link */

.redirect-link {
  font-family: "Merriweather", sans-serif;
  display: flex;
  align-items: center;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
  }

  .text {
    margin-right: 75px;
    font-weight: 900;
    position: relative;
  }

  .icon {
    position: relative;
    padding: 5px;
    background: #80c19f;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      height: 25px;
    }
  }
}

.redirect-link .text:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.redirect-link:hover .text:after {
  width: 100%;
  left: 0;
}

/* Textblock */

.textblock-wrap {
  .cirkel_speciality_wrap {
    position: absolute;
    right: 0px;
    top: 800px;
    transform: rotate(180deg);
  }
  .cirkel_howwedo_wrap {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  .textblock {
    display: flex;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;

      &.start {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }

      &.center {
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .paragraph {
        margin-bottom: 1.5rem;
      }

      .quote {
        padding: 25px;

        @include md {
          padding: 50px 75px;
        }

        font-size: 30.6px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: center;
        color: $base-dark;
        font-family: $secondaryfont;
      }
    }

    .image {
      position: relative;
      width: 75%;
      height: 350px;
      margin: 50px 0;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .author {
      padding: 25px 0;
      font-weight: bold;
    }
  }
}

/* Video in text */

.video-wrap {
  .video {
    width: 100%;
    @include md {
      width: 75%;
    }

    iframe {
      width: 100%;
    }
  }
}

/* Container */

.container {
  padding: 0 25px;

  @include md {
    padding: 0 75px;
  }
}

/* Socials */

.socials-wrap {
  .socials {
    .social {
      display: flex;
      flex-direction: column;

      @include md {
        flex-direction: row;
      }

      .image {
        width: 100%;
        height: 350px;

        @include md {
          flex: 1;
          width: unset;
        }

        position: relative;
        margin-right: 25px;
      }

      .content {
        flex: 2;
        padding: 25px;
      }
    }
  }
}

.content {
  overflow: hidden;
}
