/* General files */
@import './variables.scss';
@import './mixins.scss';
@import './base.scss';

/* Components */

@import './components/header/header.scss';
@import './components/navigation/navigation.scss';
@import './components/hero/hero.scss';
@import './components/carousel/carousel.scss';
@import './components/button/button.scss';
@import './components/trainingblock/trainingblock.scss';
@import './components/banner/banner.scss';
@import './components/blogcarousel/blogcarousel.scss';
@import './components/eventsblock/eventsblock.scss';
@import './components/footer/footer.scss';
@import './components/chatandbanner/chatandbanner.scss';
@import './components/breadcrumbs/breadcrumbs.scss';
@import './components/popup/popup.scss';
@import './components/customform/customform.scss';
@import './components/input/input.scss';
@import './components/loading/loading.scss';

/* Pages */

@import './pages/this-is-us.scss';
@import './pages/our-thoughts.scss';
@import './pages/contact-us.scss';
@import './pages/trainings/training.scss';
@import './pages/events/event.scss';
@import './pages/privacy.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $mainfont;
  color: black;
}

.react-multi-carousel-list {
  height: 420px;

  .react-multi-carousel-track {
    position: absolute;
    left: 0;

    @media screen and (max-width: 1600px) {
      left: 0;
    }
  }

  .custom-slider {
    bottom: 0;
    position: absolute;
  }
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 4px;
  width: 50%;
  border-radius: 0%;
  background: $base-green;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.carousel-container-with-scrollbar {
  padding-bottom: 20px;
  overflow: visible !important;
}
.custom-slider {
  width: 100%;
  padding: 0 20px;
  max-width: 800px;
  margin-top: 50px;
}
.custom-slider__input {
  width: 100%;
}

.react-multi-carousel-list {
  display: flex !important ;
  flex-direction: column !important;
}

.slider-image-item {
  position: relative;

  .image {
    img {
      filter: brightness(0.6);
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 400px;
    }
  }

  .icon {
    img {
      filter: unset;
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    padding: 25px;
    color: $base-white;

    .title {
      color: $base-white;
    }

    .paragraph {
      display: none;
    }

    @include md {
      padding: 30px 42px;
    }

    .title {
      @include md {
        font-size: 2.75rem;
      }
    }
  }
}

.text-underneath {
  .react-multi-carousel-list {
    height: 600px;
    margin-bottom: 25px;
  }

  .slider-image-item {
    min-width: 350px;
    max-width: 350px;

    @include md {
      min-width: 500px;
      max-width: 500px;
    }

    .image {
      height: 350px;
      width: 100%;

      div {
        width: 100%;
        height: 300px;
      }

      img {
        width: inherit;
        height: inherit;
      }
    }

    .content {
      position: relative;
      color: $base-dark;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      min-height: 230px;

      .title h2 {
        font-size: 1.75rem;
        color: $base-dark;
      }

      .paragraph {
        margin-bottom: 25px;
        display: block;
      }

      .redirect-link {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.dark-image {
  .cirkel_speciality {
    position: absolute !important;
    right: -550px !important;
    top: 200px !important;
    filter: brightness(1);
  }

  .cirkel_howwedo {
    position: absolute !important;
    right: -550px !important;
    top: 300px !important;
    filter: brightness(1);
  }

  img {
    filter: brightness(0.6);
  }

  .icon {
    img {
      filter: brightness(1);
    }
  }
}

.cirkel-wrap {
  position: absolute;

  img.cirkel {
    position: absolute !important;
    top: -500px !important;
    left: 00px !important;
  }
}

.cirkel_left_wrap {
  position: absolute !important;
  left: 0px !important;
  top: 300px !important;
  filter: brightness(1);
  z-index: -1;
}

.newbanner-1 {
  position: absolute !important;
  z-index: 1;
  right: -550px !important;
  top: -50px !important;
}

.newbanner-2 {
  position: absolute !important;
  z-index: 1;
  left: -550px !important;
  top: -200px !important;
}

.react-multi-carousel-item {
  min-width: 400px !important;
  max-width: 400px !important;
}
