/* Colors */
$base-dark: #323232;
$base-white: #ffff;
$base-green: #80c19f;
$base-gray: #b8b8b814;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

$mainfont: "Open-sans", sans-serif;
$secondaryfont: "Merriweather", sans-serif;

/* Breakpoints */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//Everything bigger then xl
$screen-xxl-min: 2560px;

/* Common margins */

/* Row gap */

$big-margin: 100px;
$normal-margin: 50px;
$small-margin: 25px;
